@font-face {
    font-family: "MaSuperPolice";
	src: url("MountainsofChristmas-webfont.woff");
}

html {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: lightgrey;
	font-size: 20px;
	/*overflow : hidden;*/
}

#content {
	background-image: url("images/fonds/dc_holiday.jpg");
	background-size: cover;
	font-family: "MaSuperPolice", Arial, serif;
	font-size: 30px;
	height :100%;
	width: 100%;
	position:relative;
}

#play {
    font-family: "MaSuperPolice",Arial,serif;
    font-size: 60px;
    margin-right: 80px;
    margin-top: -55px;
    text-align: right;
}

#fond {
   position:absolute;
   z-index:9000;
   background-color:#000;
   display:none;
   border-radius: 10px;
}

.popup {
	position:fixed;
	/*width:540px;
	height:400px;*/
	display:none;
	z-index:9999;
	padding:20px;
	border-radius: 10px;
	background-color: white;
	border: 1px solid grey;

   
}

#intro {
   width:550px;
   height:450px;
   text-align: center;
   	font-size: 20px;
	font-family: "MaSuperPolice", Arial, serif;
}
#about {
   width:600px;
   height:500px;
   text-align: left;
	font-size: 20px;
}

